* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .card {
        width: 200px;
        height: 200px;
        background: #000;
        transition: transform 0.2s;
    }

    .cards--yellow {
        background: yellow;
    }

    .card:hover {
        transform: scale(1.5);
        z-index: 1;
    }
}

