* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    justify-content: space-around;

    padding: 20px 0px;
    background: #FFF4F8;

    position: sticky;

    a {
        text-decoration: none;
        color: black;
    }

    .header--products {
        position: relative;

        .menu {
            position: absolute;
            opacity: 0;

            top: 100%;
            left: 0;

            background: #FFF4F8;
            transition: opacity 0.3s, visibility 0.3s;
            /* padding: 20px; */

            a {
                padding: 10px 10px;
            }

        }
    }

    .header--products:hover {
        .menu {
            opacity: 1;
            z-index: 1;
            visibility: visible;
        }
    }
}